@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans ExtraLight"), local("FiraSans-ExtraLight"), url("../fonts/fira-sans/firasansextralight.woff2") format("woff2"), url("../fonts/fira-sans/firasansextralight.woff") format("woff"), url("../fonts/fira-sans/firasansextralight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Light"), local("FiraSans-Light"), url("../fonts/fira-sans/firasanslight.woff2") format("woff2"), url("../fonts/fira-sans/firasanslight.woff") format("woff"), url("../fonts/fira-sans/firasanslight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans"), local("FiraSans-Regular"), url("../fonts/fira-sans/firasans.woff2") format("woff2"), url("../fonts/fira-sans/firasans.woff") format("woff"), url("../fonts/fira-sans/firasans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Medium"), local("FiraSans-Medium"), url("../fonts/fira-sans/firasansmedium.woff2") format("woff2"), url("../fonts/fira-sans/firasansmedium.woff") format("woff"), url("../fonts/fira-sans/firasansmedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url("../fonts/fira-sans/firasansbold.woff2") format("woff2"), url("../fonts/fira-sans/firasansbold.woff") format("woff"), url("../fonts/fira-sans/firasansbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  box-sizing: border-box; }

html {
  height: 100%;
  font: 400 10px/1.33 "Fira Sans", "Arial", sans-serif; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: calc(1em+1vw);
  font-family: "Fira Sans", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  background: white;
  color: black;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body * + * {
  margin-top: 1rem; }

dl, dt, dd {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #b5b9be; }
  a:hover, a:focus {
    text-decoration: underline; }

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  overflow: hidden; }
