@font-face {
    font-family: "Segoe";
    src: local("Segoe"), local("Segoe-ui"),
			url("../fonts/fira-sans/segoeui.woff2") format("woff2"),
			url("../fonts/fira-sans/segoeui.woff") format("woff"),
			url("../fonts/fira-sans/segoeui.ttf") format("truetype");
    font-weight: 400;
    font-style: normal; }
