// colors
$body_bg: rgba(255, 255, 255, 1);
$header_bg: rgba(0, 0, 0, 0.3);

$color_link: rgba(181, 185, 190, 1);
$color_field: rgba(50, 55, 73, 1);
$color_field_hover: rgba(50, 60, 75, 1);
$color_field_border: rgba(220, 220, 220, 1);

$black: rgba(0, 0, 0, 1);
$gray_light: #e5e5e5;
$gray: #b5b9be;
$gray_dark: #283645;

$pink: #d22856;
$green: #2aab6d;
$green_dark: #1c9b5e;

// fonts
$font_1: "Fira Sans", "Arial", sans-serif;

// points
$mobile: 699px;
$tablet: 700px;
$desktop: 1200px;
